* {
	font-family: 'Heebo', sans-serif;
	font-weight: 300;
	color: #fff;
}

body {
	background-color: #060315;
}

.header {
	height: 100px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0);
	position: absolute;
	transition: height .2s;
}

.sticky {
	height: 75px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.85);
	transition: height .5s;
	position: fixed;
}

.body {
	background-color: #060315;
	height: 720px;
}

.footer {
	line-height: 50px;
	font-size: 12px;
	background-color: #060315;
	color: #9CB0B0;
	text-align: center;
}
.logo {
	transition: all .5s;
	position: absolute;
	left: 0;
}
.logo.centered {
	position: absolute;
	left: 40%;
}

.logo img {
	height: 75px;
	margin-left: 75px;
}

.nav-bar {
	display: inline-block;
	float: right;
	margin-top: 40px;
	margin-right: 50px;
}

.nav-bar a {
	text-decoration: none;
	color: #00A0F0;
	margin: 20px;
	font-weight: 300;
}

/*HOME PAGE*/

/*LOG IN PAGE*/
.login {
	padding-top: 150px;
}

.login input {
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px; 
	display: block;
}

.login-button {
	display: block;
	height: 40px;
	width: 75px;
	margin: auto;
	margin-top: 15px;
	background-color: #00C4FA;
	border: 0;
	border-radius: 4px;
}

.register-link {
	color: #9CB0B0;
	text-align: center;
	display: block;
	padding-top: 20px;
	font-size: 12px;
}

/*REGISTER PAGE*/

/*PROFILE PAGE*/
.user-info {
	padding-top: 100px;
	padding-left: 50px;
	img {
		height: 230px;
		width: 230px;
		border-radius: 3px;
	}
	span {
		display: block;
	}
}

.name {
	font-size: 30px;
}

.username {
	width: 230px;
	padding-bottom: 15px;
	border-bottom: 1px solid #fff;
	color: #9CB0B0;
}

.bio {
	width: 230px;
	padding-top: 10px;
	font-size: 13px;
}