* {
	font-family: 'Heebo', sans-serif;
	font-weight: 300;
	color: #fff;
}

body {
	background-color: #060315;
}

.header {
	height: 100px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0);
	position: absolute;
	transition: height .2s;
}

.sticky {
	height: 75px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.85);
	transition: height .5s;
	position: fixed;
}

.body {
	background-color: #060315;
	height: 1000px;
}

.footer {
	line-height: 50px;
	font-size: 12px;
	background-color: #060315;
	color: #9CB0B0;
	text-align: center;
}
.logo {
	transition: all .5s;
	position: absolute;
	left: 0;
}
.logo.centered {
	position: absolute;
	left: 40%;
}

.logo img {
	height: 75px;
	margin-left: 75px;
}

.nav-bar {
	display: inline-block;
	float: right;
	margin-top: 40px;
	margin-right: 50px;
}

.nav-bar a {
	text-decoration: none;
	color: #00A0F0;
	margin: 20px;
	font-weight: 300;
}

/*HOME PAGE*/

/*LOG IN PAGE*/
.login {
	padding-top: 150px;
}

.login input {
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px; 
	padding: 4px;
	display: block;
	color: black;
	&:focus{
		outline: 0;
	};
}

.login-button {
	display: block;
	height: 40px;
	width: 75px;
	margin: auto;
	margin-top: 15px;
	background-color: #00C4FA;
	border: 0;
	border-radius: 4px;
}

.register-link {
	color: #9CB0B0;
	text-align: center;
	display: block;
	padding-top: 20px;
	font-size: 12px;
}

/*REGISTER PAGE*/

.register-user-form {
	text-align: center;
	padding-top: 120px;
	input {
		margin: auto;
		padding: 4px;
		margin-top: 10px;
		margin-bottom: 10px;
		width: 500px;
		color: black;
		&:focus{
			outline: 0;
		};
	}
}

/*PROFILE PAGE*/

.user-info {
	padding-top: 100px;
	margin-left: 150px;
	float: left;
	img {
		height: 230px;
		width: 230px;
		border-radius: 3px;
	}
	span {
		display: block;
	}
}

.name {
	font-size: 30px;
}

.username {
	width: 230px;
	padding-bottom: 15px;
	border-bottom: 1px solid #fff;
	color: #9CB0B0;
}

.bio {
	width: 230px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 13px;
	border-bottom: 1px solid #fff;
}

.location {
	padding-top: 10px;
	margin-left: 20px;
	height: 25px;
}

.email {
	padding-top: 10px;
	margin-left: 20px;
	height: 25px;
}

.hireable {
	padding-top: 10px;
}

.icon-items {
	position: relative;
}

.icon-1 {
	position: absolute;
	top: 12px;
}

.icon-2 {
	position: absolute;
	top: 46px;
	font-size: 5px;
}

.recent-projects {
	float: left;
	margin-top: 100px;
	margin-left: 50px;
	width: 600px;
	height: 400px;
	border: 1px solid #fff;
	border-radius: 4px;
}

.rp-title {
	display: block;
	font-size: 20px;
	font-weight: 300;
	text-align: center;
	padding: 10px;
	margin-left: 20px;
	margin-right: 20px;
	border-bottom: 1px solid #fff;
}

.resume-link {
	text-decoration: none;
	text-align: center;
	line-height: 50px;
	margin-left: 50px;
	margin-top: 25px;
	height: 50px;
	width: 600px;
	background-color: #00C4FA;
	border: 0;
	border-radius: 4px;
	float: left;
}

/*Profile-edit css*/

.templatepadding{
	padding-top:100px;
}

/*RESUME*/

.resume-1 {
	width: 700px;
	margin: auto;
	background-color: #fff;
	color: black;
}

.res1-header {
	min-height: 150px;
	width: 100%;
	background-color: #20BCA4;
}

.res1-header img {
	height: 50px;
	width: 50px;
	margin-top: 75px;
	margin-left: 50px;
	float: left;
}

.res1-name {
	font-size: 35px;
	color: #fff;
	font-weight: 500;
	float: left;
	width: 500px;
	text-align: center;
	line-height: 50px;
	margin-top: 20px;
	text-transform: uppercase;
}

.res1-certifications {
	float: left;
	width: 500px;
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
	span {
		display: inline;
	}
}

.res1-bio {
	float: left;
	width: 350px;
	margin-left: 85px;
	line-height: 10px;
	span {
		font-size: 10px;
		color: rgba(0,0,0, 0.6);
	}
}

.res1-body {
	color: black;
}