$cyan: #20BCA4;
$maroon: #7F0002;
$purple: #BF00FE;

* {
	font-family: 'Heebo', sans-serif;
	font-weight: 300;
	color: #fff;
}

body {
	background-color: #060315;
}

.header {
	height: 100px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0);
	position: absolute;
	transition: all .2s;
	z-index: 2;
}

.sticky {
	height: 75px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.85);
	transition: all .5s;
	position: fixed;
}

.body {
	background-color: #060315;
	min-height: 650px;
}

.footer {
	line-height: 50px;
	font-size: 12px;
	background-color: #060315;
	color: #9CB0B0;
	text-align: center;
	clear: both;
}

.logo {
	transition: all .5s;
	position: absolute;
	left: 0;
}

.logo.centered {
	position: absolute;
	left: 40%;
}

.logo img {
	height: 75px;
	margin-left: 75px;
}

.nav-bar {
	display: inline-block;
	float: right;
	margin-top: 40px;
	margin-right: 50px;
}

.nav-bar a {
	text-decoration: none;
	color: #00A0F0;
	margin: 20px;
	font-weight: 300;
}

/*HOME PAGE*/

.home-page {
	min-height: 700px;
}

.hero img {
	width: 100%;
	z-index: 0;
}

.headline {
	position: relative;
}

.headline span {
	position: absolute;
	font-size: 40px;
	font-style: italic;
	font-weight: 400;
	letter-spacing: 2px;
	top: -300px;
	left: 35%;
	z-index: 1;
}

.main-text {
	span {
		display: block;
		width: 80%;
		margin: auto;
		text-align: center;
		padding-top: 20px;
	}
}

.layout-options {
	padding-top: 30px;
	a {
		text-decoration: none;
	};
	img{
		width: 33%;
	};
}

.select {
	color: #00A0F0;
}

/*LOG IN PAGE*/
.login {
	padding-top: 150px;
}

.login input {
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px; 
	padding: 4px;
	display: block;
	color: black;
	&:focus{
		outline: 0;
	};
}

.login-button {
	display: block;
	height: 40px;
	width: 75px;
	margin: auto;
	margin-top: 15px;
	background-color: #00C4FA;
	border: 0;
	border-radius: 4px;
}

.register-link {
	color: #9CB0B0;
	text-align: center;
	display: block;
	padding-top: 20px;
	font-size: 12px;
}

/*REGISTER PAGE*/

.register-user-form {
	text-align: center;
	padding-top: 120px;
	input {
		margin: auto;
		padding: 4px;
		margin-top: 10px;
		margin-bottom: 10px;
		width: 500px;
		color: black;
		&:focus{
			outline: 0;
		};
	}
}

/*PROFILE PAGE*/

.user-info {
	padding-top: 100px;
	margin-left: 150px;
	float: left;
	img {
		height: 230px;
		width: 230px;
		border-radius: 3px;
	}
	span {
		display: block;
	}
}

.name {
	font-size: 30px;
}

.username {
	width: 230px;
	padding-bottom: 15px;
	border-bottom: 1px solid #fff;
	color: #9CB0B0;
}

.bio {
	width: 230px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 13px;
	border-bottom: 1px solid #fff;
}

.location {
	padding-top: 10px;
	margin-left: 20px;
	height: 25px;
}

.email {
	padding-top: 10px;
	margin-left: 20px;
	height: 25px;
}

.hireable {
	padding-top: 10px;
}

.icon-items {
	position: relative;
}

.icon-1 {
	position: absolute;
	top: 12px;
}

.icon-2 {
	position: absolute;
	top: 46px;
	font-size: 5px;
}

.recent-projects {
	float: left;
	margin-top: 100px;
	margin-left: 50px;
	width: 600px;
	height: 400px;
	border: 1px solid #fff;
	border-radius: 4px;
}

.rp-title {
	display: block;
	font-size: 20px;
	font-weight: 300;
	text-align: center;
	padding: 10px;
	margin-left: 20px;
	margin-right: 20px;
	border-bottom: 1px solid #fff;
}

.resume-link {
	text-decoration: none;
	text-align: center;
	line-height: 50px;
	margin-left: 50px;
	margin-top: 25px;
	height: 50px;
	width: 600px;
	background-color: #00C4FA;
	border: 0;
	border-radius: 4px;
	float: left;
}

/*Profile-edit css*/

.templatepadding{
	padding-top:100px;
}

/*RESUME*/

.back-arrow {
	float: left;
	font-size: 30px;
}

.edit {
	float: left;
	font-size: 13px;
	margin-left: 200px;
}

.resume-1 {
	width: 700px;
	margin: auto;
	background-color: #fff;
	color: black;
}

.res1-header {
	width: 100%;
	background-color: $cyan;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.res1-header img {
	height: 50px;
	width: 50px;
	margin-top: 75px;
	margin-left: 50px;
}

.res1-name {
	font-size: 35px;
	color: #fff;
	font-weight: 500;
	width: 500px;
	text-align: center;
	line-height: 50px;
	margin-top: 20px;
	text-transform: uppercase;
	input {
		width: 300px;
	}
}

.res1-certifications {
	width: 500px;
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
	span {
		display: inline;
	};
	input {
		width: 100px;
	};
}

.res1-bio {
	width: 350px;
	line-height: 10px;
	margin-bottom: 15px;
	span {
		font-size: 10px;
		color: rgba(0,0,0, 0.6);
	}
	textarea {
		min-width: 350px;
		max-width: 350px;
	}
}

.res1-body {
	margin-top: 20px;
	margin-left: 50px;
	margin-right: 50px;
	min-height: 520px;
}

.res1-title {
	color: $cyan;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
}

.res1-block {
	width: 250px;
	display: inline-block;
	margin: 20px;
}

.res1-item {
	display: flex;
}

.res1-date-div {
	margin-right: 12.5px;
}

.res1-item-date {
	color: $cyan;
	width: 50px;
	text-align: right;
	font-size: 11px;
	font-weight: 100;
}

.date-input {
	width: 25px;
}

.title-input {
	margin-left: 10px;
}

.res1-item-title {
	color: $cyan;
	font-size: 11px;
	font-weight: 500;
	text-transform: uppercase;
}

.res1-item-desc {
	color: black;
	font-weight: 100;
	font-size: 10px;
}

.res1-languages {
	text-align: center;
}

.res1-lang {
	display: inline;
	color: $cyan;
	font-size: 15px;
	font-weight: 500;
	margin-left: 30px;
	margin-right: 30px;
}

.res1-contact-info {
	display: block;
	color: $cyan;
	font-size: 12px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: 300;
}

.res1-footer {
	height: 20px;
	width: 100%;
	background-color: $cyan;
}

/*404 PAGE*/
.notfound {
	margin-top: 50px;
	text-align: center;
	img {
		height: 75px;
	}
}

.cat img{
	width: 100%;
}