<div class="buttons">
	<a class="back-arrow" href="#">
		<i class="fa fa-arrow-left" aria-hidden="true"></i>
	</a>
	<a class="edit" href="#/:username/resume/edit">
		<i class="fa fa-pencil" aria-hidden="true"></i><span>Edit</span>
	</a>
</div>
<form>
<div class="resume-1">
	<div class="res1-header">
		<div class="res1-name">
			<input type="text" name="name" placeholder="Full Name">
		</div>
		<div class="res1-certifications">
			<input type="text" name="cert1" placeholder="Certification"> | 
			<input type="text" name="cert2" placeholder="Certification"> | 
			<input type="text" name="cert3" placeholder="Certification"> | 
			<input type="text" name="cert4" placeholder="Certification">
		</div>
		<div class="res1-bio">
			<textarea placeholder="Bio"></textarea>
		</div>
	</div>
	<div class="res1-body">
		<div class="res1-languages">
			<input type="text" name="languages" placeholder="Coding Language">
			<input type="text" name="languages" placeholder="Coding Language">
			<input type="text" name="languages" placeholder="Coding Language">
		</div>
		<div class="res1-block">
			<div class="res1-title">Education</div>
			<div class="res1-item">
				<div class="res1-item-date">
					<input class="date-input" type="text" name="date" placeholder="Date"></div>
				<span class="res1-item-title">
					<input class="title-input" type="text" name="title" placeholder="Title"></span>
				<span class="res1-item-desc">
					<input type="text" name="desc" placeholder="Description">
				</span>
			</div>
			<div class="res1-item">
				<span class="res1-item-date">
					<input class="date-input" type="text" name="date" placeholder="Date"></span>
				<span class="res1-item-title">
					<input class="title-input" type="text" name="title" placeholder="Title"></span>
				<span class="res1-item-desc">
					<input type="text" name="desc" placeholder="Description">
				</span>
			</div>
			<div class="res1-item">
				<span class="res1-item-date">
					<input class="date-input" type="text" name="date" placeholder="Date"></span>
				<span class="res1-item-title">
					<input class="title-input" type="text" name="title" placeholder="Title"></span>
				<span class="res1-item-desc">
					<input type="text" name="desc" placeholder="Description">
				</span>
			</div>
		</div>
		<div class="res1-block">
			<div class="res1-title">Professional Experience</div>
			<div class="res1-item">
				<span class="res1-item-date">
					<input class="date-input" type="text" name="date" placeholder="Date"></span>
				<span class="res1-item-title">
					<input type="text" name="title" placeholder="Title">
				</span>
				<span class="res1-item-desc">
					<input type="text" name="desc" placeholder="Description">
				</span>
			</div>
			<div class="res1-item">
				<span class="res1-item-date">
					<input class="date-input" type="text" name="date" placeholder="Date"></span>
				<span class="res1-item-title">
					<input type="text" name="title" placeholder="Title">
				</span>
				<span class="res1-item-desc">
					<input type="text" name="desc" placeholder="Description">
				</span>
			</div>
			<div class="res1-item">
				<span class="res1-item-date">
					<input class="date-input" type="text" name="date" placeholder="Date"></span>
				<span class="res1-item-title">
					<input type="text" name="title" placeholder="Title">
				</span>
				<span class="res1-item-desc">
					<input type="text" name="desc" placeholder="Description">
				</span>
			</div>
		</div>
		<div class="res1-block">
			<div class="res1-title">Projects</div>
			<div class="res1-item">
				<span class="res1-item-date">
					<input class="date-input" type="text" name="date" placeholder="Date"></span>
				<span class="res1-item-title">
					<input type="text" name="title" placeholder="Title">
				</span>
				<span class="res1-item-desc">
					<input type="text" name="desc" placeholder="Description">
				</span>
			</div>
			<div class="res1-item">
				<span class="res1-item-date">
					<input class="date-input" type="text" name="date" placeholder="Date"></span>
				<span class="res1-item-title">
					<input type="text" name="title" placeholder="Title">
				</span>
				<span class="res1-item-desc">
					<input type="text" name="desc" placeholder="Description">
				</span>
			</div>
		</div>
		<div class="res1-block">
			<div class="res1-title">Contact Me</div>
			<span class="res1-contact-info">
				<input type="email" name="email" placeholder="email">
			</span>
			<span class="res1-contact-info">
				<input type="phone" name="phone" placeholder="phone">
			</span>
			<span class="res1-contact-info">
				<input type="website" name="website" placeholder="website">
			</span>
		</div>
		<button class="login-button">Submit</button>
	</div>
	<div class="res1-footer"></div>
</div>
</form>