<form class="register-user-form" name="newUser" ng-submit='vm.submit(profile)'>
	<input type="text" name="uname" placeholder="GitHub Username" ng-model='profile.github_username' required>
	<input type="text" name="lname" placeholder="Location" ng-model='profile.location' required>
	<input type="text" name="bio" placeholder="Bio" ng-model='profile.bio' required>
	<input type="number" name="layout" ng-model='profile.layout_choice' placeholder="Layout Choice (1 - 3)" required>
	<button class="login-button">Submit</button>
</form>