<div class="profile">
	<div class="user-info">
		<img src="{{vm.github.img}}">
		<span class="name"> {{vm.github.name}} </span>
		<span class="username">@calebeggers</span>
		<span class="bio">{{vm.github.bio}}</span>
		<div class="icon-items">
			<i class="icon-1 fa fa-map-marker" aria-hidden="true"></i><span class="location">{{vm.github.location}} </span>
			<i class="icon-2 fa fa-envelope" aria-hidden="true"></i><span class="email"> {{vm.github.email}} </span>
		</div>
		<span class="hireable">Hireable: Yes</span>
	</div>
	<div class="recent-projects">
		<span class="rp-title">Recent Projects</span>
		</div>
	<div>
		<a href="/#/{{vm.username}}/resume">
			<div class="resume-link">
				Click Here to View {{ vm.username }}'s Resume
			</div>
		</a>
	</div>
</div>