
<div class="c2">
	<form class="register-user-form" name="newUser" ng-submit='vm.submit(user)'>
		<div class="reg-first-name">
			<input type="text" name="fname" placeholder="First Name" ng-model='user.first_name' required>
		</div>
		<div class="reg-last-name">
			<input type="text" name="lname" placeholder="Last Name" ng-model='user.last_name' required>
		</div>
		<div class="reg-user-name">
			<input type="text" name="username" placeholder="Username" ng-model='user.username' required>
		</div>
		<div class="reg-email">
			<input type="text" name="email" placeholder="Email" ng-model='user.email' required>
		</div>
		<div class="reg-password">
			<input type="password" name="password" placeholder="Password" ng-model='user.password' required>
		</div>
        <button class="login-button">Register</button>
	</form>
</div>