
<div class="c2">
	<form class="registerUserform" name="newUser" ng-submit='vm.submit(user)'>
		<label>First Name</label>
		<input type="text" name="fname" ng-model='user.first_name' required>
		<label>Last Name</label>
		<input type="text" name="lname" ng-model='user.last_name' required>
		<label>User Name</label>
		<input type="text" name="username" ng-model='user.username' required>
		<label>Email</label>
		<input type="text" name="email" ng-model='user.email' required>
		<label>Password</label>
		<input type="password" name="password" ng-model='user.password' required>
        <button> Register</button>
	</form>

</div>