<div class="resume-1">
	<div class="res1-header">
		<img src="#">
		<div class="res1-name">
			<span>Caleb Eggers</span>
		</div>
		<div class="res1-certifications">
			<span>Marketeer</span> | <span>Graphic Design</span> | <span>Illustration</span> | <span>Branding</span>
		</div>
		<div class="res1-bio">
			<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat.</span>
		</div>
	</div>
	<div class="res1-body">
		<div class="res1-education">
			<div class="res1-edu-title">Education</div>
			<div class="res1-edu-item">
				<span class="res1-edu-item-date">2013</span>
				<span class="res1-edu-item-title">Technical Curse</span>
				<span class="res1-edu-item-desc">WebDesign Curse - Etic Algarve</span>
			</div>
			<div class="res1-edu-item">
				<span class="res1-edu-item-date">2013</span>
				<span class="res1-edu-item-title">Technical Curse</span>
				<span class="res1-edu-item-desc">WebDesign Curse - Etic Algarve</span>
			</div>
			<div class="res1-edu-item">
				<span class="res1-edu-item-date">2013</span>
				<span class="res1-edu-item-title">Technical Curse</span>
				<span class="res1-edu-item-desc">WebDesign Curse - Etic Algarve</span>
			</div>
		</div>
		<div class="res1-prof-exp">
			<div class="res1-prof-exp-title">Professional Experience</div>
			<div class="res1-prof-exp-item">
				<span class="res1-prof-exp-item-date">2013</span>
				<span class="res1-prof-exp-item-title">Freelancer</span>
				<span class="res1-prof-exp-item-desc">Graphic Designer</span>
			</div>
			<div class="res1-prof-exp-item">
				<span class="res1-prof-exp-item-date">2013</span>
				<span class="res1-prof-exp-item-title">Freelancer</span>
				<span class="res1-prof-exp-item-desc">Graphic Designer</span>
			</div>
			<div class="res1-prof-exp-item">
				<span class="res1-prof-exp-item-date">2013</span>
				<span class="res1-prof-exp-item-title">Freelancer</span>
				<span class="res1-prof-exp-item-desc">Graphic Designer</span>
			</div>
		</div>
		<div class="res1-proj">
			<div class="res1-proj-title">Projects</div>
			<div class="res1-proj-item">
				<span class="res1-proj-item-date">2013</span>
				<span class="res1-proj-item-title">Website Design</span>
				<span class="res1-proj-item-desc">Fireman Volunteer Association of Portimao</span>
			</div>
			<div class="res1-proj-item">
				<span class="res1-proj-item-date">2013</span>
				<span class="res1-proj-item-title">Website Design</span>
				<span class="res1-proj-item-desc">Fireman Volunteer Association of Portimao</span>
			</div>
		</div>
		<div class="res1-contact">
			<div class="res1-contact-title">Contact Me</div>
			<span class="res1-contact-email"></span>
			<span class="res1-contact-phone"></span>
			<span class="res1-contact-website"></span>
		</div>
		<div class="res1-prog-lang">
			<div class="res1-prog-lang-title">Programming Languages</div>
			<span class="res1-prog-lang-item">JavaScript</span>
			<span class="res1-prog-lang-item">PHP</span>
			<span class="res1-prog-lang-item">Ruby</span>
		</div>
	</div>
	<div class="res1-footer"></div>
</div>